@import "fonts"
@import "vars"

body
    background-color: #202020
    font-family: $reg
    color: #fff
    margin: 0
    overflow-x: hidden

.element::-webkit-scrollbar
  width: 0


/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar 
  width: 0

.hiddenForRoute
    opacity: 0

.inactive-route
    color: #757575
    pointer-events: none

.dt
    @media (max-width: 940px)
        display: none
.mb
    @media (min-width: 939px)
        display: none

a
    color: #fff
    text-decoration: none

*
    box-sizing: border-box

h1, h2, h3, p
    margin: 0

img, svg
    width: 100%
    height: 100%
    object-fit: contain

.page
    min-height: 100vh
.scale
    transition: 0.3s
    @media (min-width: 1025px)
        &:hover
            transform: scale(1.1)
.hover
    transition: 0.3s
    @media (min-width: 1025px)
        &:hover
            transform: translateY(-2px)
.arrow
    position: absolute
    top: 25px
    right: 25px
    width: 20px
    height: 20px
    cursor: pointer
    transition: .3s
    z-index: 10
    &:hover
        transform: rotate(90deg)
    &__content
        width: 100%
        height: 100%
        position: relative
    &__line
        position: absolute
        width: 100%
        height: 2px
        background-color: #202020
        top: 50%
        left: 0
        &_first
            transform: translateY(-1px) rotate(45deg)
        &_second
            transform: translateY(-1px) rotate(-45deg)
.button
    display: inline-block
    cursor: pointer
    border: none
    background: none
    font-family: $reg

    &__border
        font-family: $bold
        font-size: 20px
        line-height: 150%
        letter-spacing: 0.02em
        padding: 14px 40px 16px
        border: 1px solid #FB7700
        transition: 0.3s
        @media (max-width: 1400px)
            font-size: 16px
            padding: 10px 49px 12px

        @media (max-width: 940px)
            font-size: vw(20,768)
            padding: vw(14,768) vw(40,768) vw(16,768)

        @media (max-width: 767px)
            font-size: vw(12,320)
            padding: vw(10,320) vw(24,320) vw(12,320)
        &_small
            @media (max-width: 940px)
                font-size: vw(12,768)
                padding: vw(9,768) vw(34,768) vw(11,768)
            @media (max-width: 767px)
                font-size: vw(12,320)
                padding: vw(10,320) vw(34,320) vw(12,320)
        &:hover
            border: 1px solid #fff
    &__bg
        background-color: #FB7700
        font-family: $bold
        font-size: 20px
        line-height: 150%
        padding: 14px 40px 16px
        letter-spacing: 0.02em
        transition: 0.3s
        @media (max-width: 1400px)
            padding: 11px 32px 13px
            font-size: 16px
        @media (max-width: 940px)
            padding: vw(14,768) vw(24,768) vw(12,768)
            font-size: vw(12,768)
        @media (max-width: 767px)
            padding: vw(10,320) vw(24,320) vw(12,320)
            font-size: vw(12,320)
        &:hover
            background-color: #fff
            color: #202020
        &_small
            @media (max-width: 940px)
                font-size: vw(12,768)
                padding: vw(9,768) vw(34,768) vw(11,768)
            @media (max-width: 767px)
                font-size: vw(12,320)
                padding: vw(10,320) vw(34,320) vw(12,320)

.container
    margin: 0 auto
    width: 1224px

    @media (max-width: 1400px)
        width: 912px
    @media (max-width: 940px)
        width: vw(600,768)
    @media (max-width: 767px)
        width: 100%
        margin: unset
        padding: 0 vw(16,320)

.input 
    width: 100%
    font-family: $reg
    padding: 11px 32px 13px
    font-size: 20px
    line-height: 150%
    outline: none
    background-color: unset
    border: 1px solid #757575
    @media (max-width: 767px)
        padding: vw(8,320) vw(16,320) vw(10,320)
        font-size: vw(14, 320)

    &__wrapper 
        position: relative
        &:not(:last-child)
            margin-bottom: 16px

    &__error
        position: absolute
        top: 0
        left: vw(28)
        transform: translateY(-50%)
        color: #D02B2B
        padding: 0 vw(8)
        background-color: #fff
.textarea
    height: 220px
    width: 100%
    resize: none
    @media (max-width: 940px)
        padding: vw(14,768) vw(32,768)!important
        height: vw(168,768)

.tag
    padding: 7px 16px 8px
    border: 1px solid #fff
    cursor: pointer
    display: flex
    align-items: center
    transition: 0.3s
    margin-left: -1px
    margin-bottom: -1px
    @media (max-width: 767px)
        padding: vw(6,320) vw(16,320)
    &:hover
        background: #2F2F2F
    &_active
        background-color: #fff
        border: 1px solid $dark
        &:hover
            background-color: #fff
        .tag
            &__name
                color: $dark
            &__line
                background-color: $dark
            &__icon
                transform: rotate(45deg)
    &__name
        font-family: $bold
        font-size: 16px
        line-height: 150%
        text-align: center
        letter-spacing: 0.02em
        margin-right: 10px
        @media (max-width: 767px)
            margin-right: vw(10,320)
            font-size: vw(12,320)
    &__icon
        width: 16px
        height: 16px
        position: relative
        transition: 0.3s
        @media (max-width: 767px)
            width: vw(14,320)
            height: vw(14,320)
    &__line
        position: absolute
        width: 14px
        height: 2px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background-color: #fff
        &_1
            transform: translate(-50%, -50%) rotate(90deg)
.unselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    transition: 0.2s