@mixin newFont($family, $pathName)
  @font-face
    font-family: "#{$family}"
    src: url("/src/assets/fonts/#{$pathName}.woff2") format("woff2"), url("/src/assets/fonts/#{$pathName}.woff") format("woff")
    font-weight: normal
    font-style: normal

@include newFont("reg","montserrat-400")
@include newFont("mid", "montserrat-500")
@include newFont("bold", "montserrat-600")
@include newFont("title", "montserrat-700")

// FONTS
$reg: 'reg', -apple-system, system-ui, blinkmacsystemfont, 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif'
$mid: 'mid', -apple-system, system-ui, blinkmacsystemfont, 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif'
$bold: 'bold', -apple-system, system-ui, blinkmacsystemfont, 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif'
$title: 'title', -apple-system, system-ui, blinkmacsystemfont, 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif'