@import "~@styles/main.sass"
.request
    display: flex
    flex-direction: column
    align-items: center
    @media (max-width: 767px)
        align-items: flex-start

    &__title
        margin-bottom: 24px

    &__files
        width: 364px
        color: #757575
        font-family: $mid
        font-size: 14px
        line-height: 150%
        margin-bottom: 32px
        @media (max-width: 767px)
            width: 100%
            font-size: vw(10,320)
    
    &__file
        color: #202020
        text-decoration: underline

    &__form
        margin-bottom: 24px
        width: 364px
        @media (max-width: 767px)
            width: vw(240,320)
    //     width: 728px
    //     display: flex
    //     justify-content: space-between
    //     flex-wrap: wrap

    &__select
        margin-bottom: 16px
    
    &__button
        width: 100%