@import "~@styles/main.sass"
.player
    position: fixed
    bottom: 0
    left: 0
    width: 100vw
    padding: 26px 0
    background-color: #1A1A1A
    z-index: 1000
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    @media (max-width: 1400px)
        padding: 26px 0
    @media (max-width: 940px)
        padding: vw(30,768) vw(24,768)
    @media (max-width: 767px)
        padding: 0
    .arrow
        right: 13px
        top: 13px
        @media (max-width: 767px)
            display: none
        &__line
            background-color: #757575
    &__content
        position: relative
        z-index: 0
        width: 1223px
        margin: 0 auto
        display: flex
        align-items: center
        @media (max-width: 1400px)
            width: 912px
        @media (max-width: 940px)
            width: 100%
        @media (max-width: 767px)
            padding: vw(16,320)
            justify-content: space-between

    &__controls
        display: flex
        align-items: center
        margin-right: 80px
        @media (max-width: 1400px)
            margin-right: 28px
        @media (max-width: 940px)
            margin-right: vw(29,768)
        @media (max-width: 767px)
            margin-right: 0
    &__control
        cursor: pointer
        &:not(:last-child)
            margin-right: 32px
            @media (max-width: 1400px)
                margin-right: 24px
            @media (max-width: 940px)
                margin-right: vw(12,768)
            @media (max-width: 767px)
                margin-right: 0
            
    &__info
        width: 220px
        margin-right: 53px
        @media (max-width: 1400px)
            margin-right: 12px
        @media (max-width: 940px)
            width: vw(200,768)
            margin-right: vw(29,768)
        @media (max-width: 767px)
            width: vw(220,320)
    &__name
        font-family: $bold
        font-size: 20px
        line-height: 130%
        letter-spacing: 0.02em
        margin-bottom: 4px
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        @media (max-width: 940px)
            font-size: vw(16,768)
            margin-bottom: vw(4,768)
        @media (max-width: 767px)
            font-size: vw(16,320)
            margin-bottom: vw(4,320)
    &__author
        font-size: 16px
        line-height: 130%
        letter-spacing: 0.02em
        color: #757575
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        @media (max-width: 940px)
            font-size: vw(14,768)
        @media (max-width: 767px)
            font-size: vw(12,320)

    &__current
        width: 57px
        margin-right: 16px
        text-align: end
        @media (max-width: 940px)
            width: vw(57,768)
            font-size: vw(16,768)
            margin-right: vw(16,768)
        @media (max-width: 767px)
            display: none
    &__bar
        position: relative
        width: 340px
        background-color: #3D3D3D
        height: 5px
        margin-right: 16px
        cursor: pointer
        @media (max-width: 1400px)
            width: 203px
        @media (max-width: 940px)
            width: vw(120,768)
            margin-right: vw(16,768)
        @media (max-width: 767px)
            position: absolute
            width: 100vw
            height: 2px
            transform: translateX(vw(-16,320))
            bottom: 100%
            pointer-events: none
        &:hover
            .player__bar-circle
                opacity: 1
        &-progress
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 0%
            // transition: 0.5s
            @media (max-width: 767px)
                pointer-events: none
        &-line
            position: relative
            width: 100%
            height: 100%
            background-color: #fff
            pointer-events: none
        &-circle
            position: absolute
            top: 50%
            right: 0
            transform: translate(50%,-50%)
            width: 15px
            height: 15px
            border-radius: 50%
            background-color: #fff
            opacity: 0
            transition: 0.1s
            pointer-events: auto
            @media (max-width: 767px)
                display: none
    &__total
        width: 57px
        margin-right: 72px
        @media (max-width: 1400px)
            margin-right: 32px
        @media (max-width: 940px)
            margin-right: vw(29,768)
            width: vw(57,768)
        @media (max-width: 767px)
            display: none
    &__prev
        width: 40px
        height: 40px
        @media (max-width: 767px)
            display: none
    &__next
        width: 40px
        height: 40px
        @media (max-width: 767px)
            display: none
    &__play
        width: 32px
        height: 32px
    &__volume
        display: flex
        align-items: center
        @media (max-width: 940px)
            position: relative
        @media (max-width: 767px)
            display: none
        &-wrapper
            @media (max-width: 940px)
                padding: vw(16,768) vw(11,768)
                background-color: #1A1A1A
                position: absolute
                bottom: calc(100% + 60px)
                right: 0
        &-icon
            width: 31px
            height: 31px
            cursor: pointer
            margin-right: 16px
            @media (max-width: 940px)
                margin-right: 0
        &-bar
            position: relative
            width: 91px
            height: 5px
            background-color: #3D3D3D
            cursor: pointer
            @media (max-width: 1400px)
                width: 68px
            // @media (max-width: 940px)
            //     position: absolute
            //     bottom: calc(100% + 60px)
            //     right: 0
            &:hover
                .player__volume-circle
                    opacity: 1
        &-progress
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
        &-line
            position: relative
            width: 100%
            height: 100%
            background-color: #fff
        &-circle
            position: absolute
            top: 50%
            right: 0
            transform: translate(50%,-50%)
            width: 15px
            height: 15px
            border-radius: 50%
            background-color: #fff
            opacity: 0
            transition: 0.1s
            @media (max-width: 940px)
                opacity: 1
.player-mobile
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-between
    // align-items: center
    width: 100vw
    height: 100%
    top: 0
    left: 0
    background-color: #202020
    z-index: 1000
    padding: vh(30) vh(16) vh(42)
    &__top
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: vh(32)
    &__hide
        width: vw(28,320)
        height: vw(20,320)
        svg
            path
                stroke: #fff
    &__close
        width: vw(20,320)
        height: vw(20,320)
        svg
            path
                stroke: #fff
    &__poster
        width: vw(212,320)
        flex: 1
        max-height: vw(212,320)
        overflow: hidden
        background-color: #2B2B2B
        margin: 0 auto vh(48)
        box-shadow: 0px 12px 40px -12px rgba(0, 0, 0, 0.56)
        display: flex
        align-items: center
        justify-content: center
        transition: 0.3s
        svg
            width: vw(51,320)
            height: vw(57,320)
            transform: translateX(vw(-4,320))
        img
            object-fit: cover
    &__name
        width: 100%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        font-family: $bold
        font-size: vw(16,320)
        line-height: 130%
        margin-bottom: vh(4)
    &__author
        width: 100%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        font-family: $mid
        font-size: vw(12,320)
        line-height: 130%
        margin-bottom: vh(24)
    &__times
        display: flex
        justify-content: space-between
        font-family: $mid
        font-size: vw(16,320)
        line-height: 130%
        letter-spacing: 0.02em
        margin-bottom: vh(24)

    &__current
        color: #fff
    &__total
        color: #757575
    &__controls
        display: flex
        align-items: center
        justify-content: center
    &__control
        width: vw(40,320)
        height: vw(40,320)
        &:not(:last-child)
            margin-right: vw(32,320)
    &__bar
        width: vw(288,320)
        margin: 0 auto vh(20)
        .player__bar
            width: 100%
            position: static
            pointer-events: unset
            height: vw(5,320)
            transform: translateX(0)
            &-circle
                display: block
    // &__prev
    //     width: vw(40,320)
    //     height: vw(40,320)
    // &__next
    //     width: vw(40,320)
    //     height: vw(40,320)
