@import "~@styles/main.sass"
.player
    position: fixed
    bottom: 0
    left: 0
    width: 100vw
    padding: 26px 0
    background-color: #1A1A1A
    z-index: 10
    &__content
        width: 1223px
        margin: 0 auto
        display: flex
        align-items: center
    &__controls
        display: flex
        align-items: center
        margin-right: 80px
    &__control
        cursor: pointer
        &:not(:last-child)
            margin-right: 32px
            
    &__info
        width: 220px
        margin-right: 53px
    &__name
        font-family: $bold
        font-size: 20px
        line-height: 130%
        letter-spacing: 0.02em
        margin-bottom: 4px
    &__author
        font-size: 16px
        line-height: 130%
        letter-spacing: 0.02em
        color: #757575

    &__current
        width: 57px
        margin-right: 16px
        text-align: end
    &__bar
        position: relative
        width: 340px
        background-color: #3D3D3D
        height: 5px
        margin-right: 16px
        cursor: pointer
        &:hover
            .player__bar-circle
                opacity: 1
        &-progress
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 0%
            transition: 0.5s
        &-line
            position: relative
            width: 100%
            height: 100%
            background-color: #fff
            pointer-events: none
        &-circle
            position: absolute
            top: 50%
            right: 0
            transform: translate(50%,-50%)
            width: 15px
            height: 15px
            border-radius: 50%
            background-color: #fff
            opacity: 0
            transition: 0.1s
            pointer-events: none
    &__total
        width: 57px
        margin-right: 72px
    &__prev
        width: 40px
        height: 40px
    &__next
        width: 40px
        height: 40px
    &__play
        width: 32px
        height: 32px
    &__volume
        display: flex
        align-items: center
        &-icon
            margin-right: 16px
        &-bar
            position: relative
            width: 91px
            height: 5px
            background-color: #3D3D3D
            cursor: pointer
            &:hover
                .player__volume-circle
                    opacity: 1
        &-progress
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 60%
        &-line
            position: relative
            width: 100%
            height: 100%
            background-color: #fff
        &-circle
            position: absolute
            top: 50%
            right: 0
            transform: translate(50%,-50%)
            width: 15px
            height: 15px
            border-radius: 50%
            background-color: #fff
            opacity: 0
            transition: 0.1s
        